body {
  margin: 0;
  /* Margin means website ki border hum kaise code kar rahe hai */
  font-family: Arial, Helvetica, sans-serif;
  /* Font family means hum kaunse type ke fonts use kar rahe hai apne website ke liye */
}

.topnav {
  overflow: hidden;
  /* Overflow means jabh hum kaafi data 1 particular shirt space pr [like any box] rakhte hai toh hume scroll ki need hoti hai tabh hum overflow ka use karte hai */
  background-color: #333;
  /* Background color means hamari website ka background kaisa hona chahiye hum "bacxkground-color" ki help se set kar sakte hai */ 
}
.topnav a {
  float: left;
  /* Hamari webstie ka data kaunse side main rehna chahiye [eg: left, right, centre, etc] hum "float:" use karke set kar sakte hai */
  display: block;
  /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
  color: #f2f2f2;
  /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
  text-align: center;
  /* Yeh set karta hai ki inline data right,left ya centre main hona chahiye */
  padding: 14px 16px;
  /* Yeh set karta hai ki text content and website ke border ke beech main kitna difference rakhna hai */
  text-decoration: none;
  /* Text data ke andar hume agar extra decorations karni hai toh hum "text-decoration:" ka use karke decoratons kar sakte hai */
  font-size: 1em;
  /* text data ka size kitna hona chahiye, hum "font-size" ka use karke set kar sakte hai */
}

.topnav a:hover {
  background-color: #ddd;
  /* Background color means hamari website ka background kaisa hona chahiye hum "bacxkground-color" ki help se set kar sakte hai */ 
  color: black;
  /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
}

.topnav a.active {
  background-color: #04AA6D;
  /* Background color means hamari website ka background kaisa hona chahiye hum "bacxkground-color" ki help se set kar sakte hai */ 
  color: white;
  /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
}

.topnav .icon {
  display: none;
  /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
}

@media screen and (max-width: 600px) {
       .green_mobile { 
        background-color: #04AA6D;
       }
      
.font_heading_mobile {
    font-size: 1em;
}

.center-align .p {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* font_paragraph_mobile */
 .changes_in_font_computer {
    font-size: 1em;
    font-size: 0.8em;
    
}

.center-align {
  text-align: center;
}

}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    /* Koi content jise hum kisi container ke andar likhte hai toh vo data right ya left main hona chahiye vo "float:" se set kar sakte hai */
    display: block;
    /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    /* Yeh help karta hai ki hamara text data ki positon kaisi honi chahiye & kitni height, breadth honi chahiye */
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    /* Koi content jise hum kisi container ke andar likhte hai toh vo data right ya left main hona chahiye vo "float:" se set kar sakte hai */
    display: block;
    /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
    text-align: left;
    /* Yeh set karta hai ki inline data right,left ya centre main hona chahiye */
  }
}

body {
  font-family: "Lato", sans-serif;
  /* Font family means hum kaunse type ke fonts use kar rahe hai apne website ke liye */
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  
  z-index: 1;
  /* Agar number "+" main aata hai toh text content pic ke peeche chala jaayega & number "-" hai to text content pic ke aage aa jaayega */
  top: 0;
  left: 0;
  background-color: #111;
  /* Background color means hamari website ka background kaisa hona chahiye hum "bacxkground-color" ki help se set kar sakte hai */ 
  overflow-x: hidden;
  /* Overflow means jabh hum kaafi data 1 particular short space pr [like any box] rakhte hai toh hume scroll ki need hoti hai tabh hum overflow ka use karte hai */
  transition: 0.5s;
  /* Yeh help karta hai ki hume kuch element ko animate kar sakte hai */
  padding-top: 60px;
  /* Yeh set karta hai ki text content and website ke border ke beech main kitna difference rakhna hai. Yhe sirf top side ke liye use hota hai */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  /* Yeh set karta hai ki text content and website ke border ke beech main kitna difference rakhna hai */
  text-decoration: none;
  /* Text data ke andar hume agar extra decorations karni hai toh hum "text-decoration:" ka use karke decoratons kar sakte hai */
  font-size: 15px;
  /* text data ka size kitna hona chahiye, hum "font-size" ka use karke set kar sakte hai */
  color: #818181;
  /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
  display: block;
  /* Text data ya phir koi image kaise behave karna chahiye like [ line ke andar,hidden ya phir sabh show ho jaaye] hum "display:" ki help se set krar sakte hai */
  transition: 0.3s;
  /* Yeh help karta hai ki hume kuch element ko animate kar sakte hai */
}

.sidenav a:hover {
  color: #f1f1f1;
  /* Hume hamare data ka colour kya set karna hai hum "color:" ki help se set kar sakte hai */
}

.sidenav .closebtn {
  position: absolute;
  /* Yeh help karta hai ki hamara text data ki positon kaisi honi chahiye & kitni height, breadth honi chahiye */
  top: 0;
  right: 25px;
  font-size: 36px;
  /* text data ka size kitna hona chahiye, hum "font-size" ka use karke set kar sakte hai */
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Slideshow Code */ 

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
background-color: #888888;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
.text {font-size: 11px}

.prev, .next {
  padding: 7px;
  margin-top: -17px;
  font-size: 11px;
}

}
.Our_Services {
text-align: center;
max-width: 840;
margin: 0 auto;
padding: 0 15px;
}

.border-w-shadow {
border-style: solid;
border-width: 1px;
border-color: #DCDCDC;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caption-border {
  background-color: #888888;
  color: #fff;
  padding: 8px;
  font-size: 12px;
  letter-spacing: 4px
}

@media only screen and (max-width: 600px) {
  .caption-border {
  font-size: 9px;
  letter-spacing: 2px
}
}

/*Parallax css */
body, html {
  height: 100%;
}

.parallax-1 , .parallax-2 , .parallax-3 {
  /* The image used */
  position: relative;

  /* Full height */
  height: 100%; 
  opacity: 0.65;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1 {
  background-image: url("img_parallax.jpg");
}

.parallax-2 {
  background-image: url("img_parallax3.jpg");
}

.parallax-3 {
  background-image: url("img_parallax.jpg");
}


.caption {
  position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
  background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 { 
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* Our team section*/
.title{
  text-align: center;
  text-transform: capitalize;
  color: #726a95;
  margin: 10px 0;
  position: relative;
}

.title::after{
  content: "";
  position: absolute;
  width: 20%; height: 2px;
  background-image: linear-gradient(to left, transparent 5%, #726a95);
  bottom: -10px; left: 50%;
  transform: translate(-50%);
}

.team-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.member{
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  max-width: 300px;
  transition: all 0.3s;
}

.member:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transform: translateY(-20px);
}

.member img{
  display: block;
  width: 150px; height: 150px;
  object-fit: cover;
  border:4px solid #726a95;
  border-radius: 50%;
  margin: 0 auto;
}

.member h2{
  text-transform: uppercase;
  font-size: 24px;
  color: #726a95;
  margin: 15px 0;
}

.member p{
  font-size: 15px;
  color: #838383;
  line-height: 1.6;
}

/* Contact us section with map */
.container .map {
  width: 45%;
  float: left;
}
.container .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
}
.container .contact-form .title {
  font-size: 2.5em;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 5% 8%;
}
.container .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}
.container .contact-form input,
.container .contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}
.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
  color: #242424;
}
.container .contact-form .btn-send {
  background: #A383C9;
  width: 180px;
  height: 60px;
  color: #F8F8F8;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}